/* @tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';

body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-gray-800;
}

button {
  @apply bg-blue-600 text-white py-2 px-4 rounded-lg shadow-md transition duration-300 ease-in-out;
}

button:hover {
  @apply bg-blue-700;
}

body {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

.header {
  background-color: lightgray;
  color: black;
}

body.dark .header {
  background-color: darkgray;
  color: white;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';

/* Base styling */
body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Inter', sans-serif;
}

/* Dark mode styles */
body.dark {
  @apply bg-gray-900 text-white;
}

/* Ensure header background and text color are updated */
.header {
  @apply bg-gray-200 text-black;
}

body.dark .header {
  @apply bg-gray-800 text-white;
}
